.Button-svg,
.SButton_svg {
    fill: currentColor;
    width: 24px;
    height: 24px;
    display: inline-block;
}

/* Primary Button */
.glow-on-hover {
    position: relative;
    padding: 1.5em 2.5em;
    border-radius: 100px;
    font-weight: 600;
    font-size: large;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    color: white;
    background: linear-gradient(45deg, #062332, #F3FAFF);
    cursor: pointer;
    position: relative;
    z-index: 0;
    gap: 8px;
    box-shadow: #06233233 0px 18px 50px -10px;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;

}

#Secondary-Button {
    border: #062332 solid 2px;
    outline: none;
    color: #062332;
    background: linear-gradient(45deg, #062332, #F3FAFF);
    box-shadow: 0 2px 25px #F3FAFF80;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    /* background: linear-gradient(45deg, #062332, #F3FAFF); */
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 100px;
}

.glow-on-hover:active {
    transform: scale(0.9);
    color: #062332
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #062332, #F3FAFF);
    /*the actual background color of the button*/
    left: 0;
    top: 0;
    border-radius: 100px;
}

#Secondary-Button:after {
    background: #F3FAFF;
    /*the actual background color of the button*/
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}