#myself {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem 0;

    /* min-width: 1550px;*/
    /* margin: 20px; */
}

.box {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.3s ease;
}

.box:hover {
    height: 400px;
}

.box .imgbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.box .imgbox img {
    max-width: 100%;
    max-height: fit-content;
    opacity: 0;
    transition: 1.5s ease;
}

.box:hover .imgbox img {
    opacity: 1;
}

.box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}

.box:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px)
}



.box:before,
.box:nth-child(1):after {
    background: linear-gradient(180deg, aliceblue, #0cc1c1, navy);
}

.box:before,
.box:nth-child(2):after {
    background: linear-gradient(180deg, grey, #ff5900);
}

.box:before,
.box:nth-child(3):after {
    background: linear-gradient(100deg, yellow, red, indigo);
}

.box:before,
.box:nth-child(4):after {
    background: linear-gradient(100deg, #61618a, #7ab1c8, #61618a);
}

.box:before,
.box:nth-child(5):after {
    background: linear-gradient(180deg, rgb(42, 80, 1), #f2c7a2, #f2c7a2);
}

.box:before,
.box:nth-child(6):after {
    background: linear-gradient(180deg, #e79913, yellow, green);
}

.box:before,
.box:nth-child(7):after {
    background: linear-gradient(180deg, rgb(144, 142, 142), #bc9705, rgb(230, 4, 4));
}

.box:before,
.box:nth-child(8):after {
    background: linear-gradient(180deg, rgb(4, 116, 53), rgb(192, 162, 12), rgb(80, 71, 21));
}

.box:before,
.box:nth-child(9):after {
    background: linear-gradient(180deg, #e79913, rgba(111, 79, 79, 0.79), rgb(176, 126, 26));
}

.box:before,
.box:nth-child(10):after {
    background: linear-gradient(180deg, #8aa9ad, rgb(183, 172, 144), rgb(21, 19, 113));
}

.box:before,
.box:nth-child(11):after {
    background: linear-gradient(180deg, #08a7d8a4, rgba(174, 99, 82, 0.743), rgba(22, 157, 22, 0.607));
}


.box:before,
.box:nth-child(12):after {
    background: linear-gradient(180deg, #6794367b, rgba(211, 189, 147, 0.978), rgb(233, 207, 77));
}


.box .content {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 90px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 1.5s ease;
}

.box:hover .content {
    opacity: 1;
}

.box .content p {
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;

}

.box .content h2 span {
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 1px;

}
